body{
    background:bisque;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container
{
    max-width:1920px;
    margin: 0 auto;
    height: 94px;
    
}

.wrapper
{

}

.header
{

}
.header-container
{
    box-shadow: 0 4px 10px rgb(0,0,0,.1);
    background: #7D81CD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-container-logo
{
    margin: 50px;
}

.title
{
    color:white;
    height: 20px;
    font-size: 35px;
    letter-spacing: 1px;
}
.under_title
{
    color:white;
    display: inline;
    font-size: 16px;
    letter-spacing: 1px;
}

.header-nav
{

}
.h-navigation
{

}
.header-nav_ul
{
    display: flex;
    gap: 120px;
}
.header-nav_li
{
    list-style: none;
    font-size: 35px;
}
.header-nav_link
{
    text-decoration: none;
    color:white;
}
.header-icon
{
    display: flex;
    gap: 50px;
    margin: 50px;
}
.header-search
{

}
.header-basket
{

}

.navi
{   

}

.construct
{
    max-width: 1640px;
    height: 298px;
}

